<h1>Editing tutorial</h1>

<div class="btn-toolbar">
  <%= link_to 'Back', tutorials_path, :class => 'btn' %>
  <%= link_to 'Show', @tutorial, :class => 'btn' %>
</div>

<div class="well">
  <%= render 'form' %>
</div>
