<h1>Tutorials</h1>

<div class="btn-toolbar">
  <% if user_signed_in? %>
    <%= link_to 'New Tutorial', new_tutorial_path, :class => 'btn' %>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <% if user_signed_in? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @tutorials.each do |tutorial| %>
  <tr>
    <td><%= link_to tutorial.name, tutorial %></td>
    <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
      <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
