<h1><%= @tutorial.name %></h1>

<div class="btn-toolbar">
  <%= link_to 'Back', tutorials_path, :class => 'btn' %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_tutorial_path(@tutorial), :class => 'btn' %>
  <% end %>
</div>

<%= coderay(@tutorial.content).html_safe %>
